**/*.mp4
**/*.tmp
**/*.txt
**/*.flv
**/*.avi
**/*.mkv
**/*.webm
**/*.png
__debug_bin
**/*.dat
tempEncryptedStorage/
.devcontainer/certs/
website/modified-ts-chacha20/
cpu.pprof
heap.pprof
kernel.svg
heap-delta
out.folded
perf.data
out.perf
test-files/test
